$breakpoint-mobile: 376px;
$breakpoint-desktop: 1440px;

$nutmeg: hsl(14, 45%, 36%);
$dark-raspberry: hsl(332, 51%, 32%);
$white: hsl(0, 0%, 100%);
$rose-white: hsl(330, 100%, 98%);
$eggshell: hsl(30, 54%, 90%);
$light-grey: hsl(30, 18%, 87%);
$wenge-brown: hsl(30, 10%, 34%);
$dark-charcoal: hsl(24, 5%, 18%);

@function pxToRem($px) {
  @return $px / 16 * 1rem;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('../fonts/young-serif/YoungSerif-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/static/Outfit-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  color: $dark-charcoal;
  padding: 0;
  margin: 0;
  background-color: $eggshell;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
